name: Test

on:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      # - name: Run tests
      #   run: cargo test --target aarch64-unknown-linux-gnu --all-features -- --nocapture

      # - name: Run doc tests
      #   run: cargo test --target aarch64-unknown-linux-gnu --doc
      - name: Run tests
        run: echo "Tests are skipped for arm_vcpu"
